    <div id="action_modal_mail" class="action_modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="action_closespan_mail" class="close-mail-modal">&times;</span>
        </div>
    </div>