<div id="show_image_modal" class="action_modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span id="closespan_image" class="close-image">&times;</span>
        <div class="image"></div>
    </div>
</div>