{% extends "formulaire_candidat/base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        h1{
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Formulaire valide:  Vos informations ont étées transmises à Maraz Software.</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
