<form method="post" action="{{ path('app_type_candidat_delete', {'id': type_candidat.id}) }}" onsubmit="return confirm('Êtes-vous sûrs de vouloir supprimer ce type de contrat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_candidat.id) }}">
    <button class="btn btn-danger"> <i class="fas fa-times"></i> Supprimer</button>
</form>
