{% extends "base.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}
{% block page_subtitle %}
{% endblock %}

{% block page_content %}
    
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% block box_title %}
        
    {% endblock %}
    {% block box_body %}
    
        <h1>Bienvenue sur Aurorh ! L'application de gestion des intégration de personnel</h1>

        <img src="{{ asset('images/AURORH.png') }}"/>
        
    {% endblock %}
{% endembed %}
{% endblock %}