{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block logo_large %} <b>Aurorh</b> {% endblock %}
{% block footer %}
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Application Aurorh v 1.0
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022 <a href="#">Maraz Software</a>.</strong> Tous droits réservés.
</footer>
{% endblock %}
